
.login-container {
  padding-top: 50px;
  height: 950px;
  width: 100%;
  background-image: url("../../assets/images/book_stack.jpg");
  background-repeat: space;
}

.form {
  padding-top: 50px;
  width: 500px;
  float: right;

  .login-button {
    float: right;
  }
}
