
.login-container {
  padding-top: 50px;
  height: 950px;
  width: 100%;
  background-image: url("../../assets/images/book_stack.jpg");
  background-repeat: space;
}

.form {
  padding-top: 50px;
  float: right;
  width: 400px;

  .login-button {
    float:right;
  }
}
