
.main-container {
  background-color: #F9FBE7;
}

.notes-container {
  margin-top: 50px;
}

.note-card {
  margin-bottom: 20px;

  .cardTitle{
    font-weight: bold;
  }
}

.action-button{
  margin-right: 20px;
}

.shared-from {
  font-style: italic;
  width: 120%;
  padding-right: 30px;
  background: #4abdac;
}

.notes-form {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 600px;

  .save-note-button {
    float:right;
  }
}

.notes-scrollbar-container {
  display: inline-block;
}

.papers-scrollbar-container {
  display: inline-block;
  float:right;
}