.register-container {
  padding-top: 50px;
  height: 950px;
  width: 100%;
  background-image: url("../../assets/images/ll1.jpg");
  background-repeat: space;
}

.reg-form {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 500px;
}